<h1>New Todo</h1>
<form action="/todo" method="post">
  <p>
    <label for="title">Title</label> <br>
    <input type="text" name="title">
  </p>
  <p>
    <label for="body">Body</label> <br>
    <input type="text" name="body">
  </p>
  <p>
    <input type="radio" name="status" value="Pending" checked> Pending <br>
    <input type="radio" name="status" value="Done"> Done <br>
  </p>
  <input type="submit">
</form>
